<div class="container">
    <h1 class="text-center">Bienvenido</h1>
    <h5 class="text-center">Te damos la Gracias por Confiar en nuestra Web</h5>

    <p>Esta Web tiene la finalidad de lograr gestionar tus proyectos ya se personales o profesionales en las cuales podras crear tareas, asingar, colaborar con otras personas, así mismo podras crear actividades para cada dia de la semana y organizar en los dias del mes una manera facil de gestionar tus actividades</p>
    
    <h3>Importante:</h3>
    <p><strong>Esta pagina es sin fines de lucro, nostros no recopilamos información, ni hacemos uso de estas es importante mencionar que cada texto o parrafo o valor importante en la web es cifrado irreversiblemente.</strong></p>
    <p><strong>Cada usuario al iniciar las actividades tendra que ingresar su clave de decifrado con la cual podra identificarse y podra cargar sus proyectos</strong></p>
</div> 